@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  height: 40px !important;
  border-radius: 0 !important;
  border: 1px solid #000000 !important;
}
input {
  width: 100% !important;
  height: 40px !important;
  padding: 0 10px !important;
}

.forms{
  align-items: center;
  margin: auto;
  width: 50%;
  text-align: center;
}
.profile-button{
  margin: 2.5px;
}

.annuncio{
  padding-top: 1%;
  align-items: center;
  margin: auto;
  width: 75%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}
.annuncio-header{
  display: flex;
  justify-content: space-between; /* Distribuisce gli elementi lungo l'asse principale */
  align-items: center;
}
.annuncio-title{
  font-size: xx-large;
  padding-bottom: 1.25%;
}
.annuncio-body{
  padding-left: 2.5%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.grid{
  display: grid;
  width: 95%;
  margin: auto;
  column-gap: 5%;
}

.grid-item-left{
  grid-column: 1 / span 1;
}
.grid-item-right{
  grid-column: 2 / span 1;
}